{% extends "base.html" %}
{% block base_body %}

<div id="login_fields">
  <form action="/login" method="post">
    <div class="forms">
      <div class="forms_row">
        <label class="form_label">Username</label>
        <input class="form_value" type="text" name="username" value="{{ username }}"/>
      </div>
      <div class="forms_row">
        <label class="form_label">Password</label>
        <input class="form_value" type="password" name="password" value="{{ password }}"/>
      </div>
      <div class="buttons"><input type="submit" /></div>
    </div>
  </form>
</div>

<div><hr></div>

<div>
  <p class="center">Want to <a href="/create">create an account</a>?</p>
</div>

{% endblock %}

