<html>
  <head>
    <title>Readify{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="../media/style.css"> 
    <meta name="viewport" content="width=850" /> 
  </head>

  <body>
    <div id="page_header">
      {% block navigation %}{% endblock %}
      <a href="/"><h1 class="title">Readify</h1></a>
      <a href="/"><h3 class="title">...a linked list server</h3></a>
    </div>

    <div class="content_box">
      {% block base_body %}{% endblock %}
    </div>

  </body>
</html>
