{% extends "site_base.html" %}

{% block page_title %}Submit Link{% endblock %}

{% block site_body %}

<div id="submit_link_fields">
  <form action="/add_item" method="post">
    <div class="forms">
      {{ form_fields }}
      <div class="buttons"><input type="submit" /></div>
    </div>
  </form>
</div>

<div><hr></div>

<p class="center">Submit links with this bookmarklet: <a href="javascript:window.location=%22http://localhost:6767/add_item?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)">Readification</a></p>

<pre><code></code></pre>

{% endblock %}

