{% extends "site_base.html" %}

{% block page_title %}Dashboard{% endblock %}

{% block site_body %}

{% for link in links %}

  {% if not loop.first %}
  <div class="link_splitter"><hr></div>
  {% endif %}
  
  <div class="link_container">
    <div class="link_title">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </div>
    <div class="link_bar">
      <li class="link_buttons">[ 
        {% if link.liked %}
          <a href="?unlike={{ link.id }}" class="button">unlike</a> | 
        {% else %}
          <a href="?like={{ link.id }}" class="button">like</a> | 
        {% endif %}
  
        {% if link.archived %}
          <a href="?unarchive={{ link.id }}" class="button">unarchive</a> |
        {% else %}
          <a href="?archive={{ link.id }}" class="button">archive</a> |
        {% endif %}

        <a href="/discuss/{{ link.id }}" class="button">discuss</a> | 

        {% if link.deleted %}
          <a href="?undelete={{ link.id }}" class="button">undelete</a> |
        {% else %}
          <a href="?delete={{ link.id }}" class="button">delete</a> |
        {% endif %}

        <a href="/edit_item/{{ link.id }}" class="button">edit</a>
      ]</li>
      <li class="link_found"><strong>F</strong>: {{ link.formatted_date }}</li>
      <li class="link_tags"><strong>T</strong>: {% if link.tags %}{% for tag in link.tags %}{% if not loop.first %}, {% endif %}<a href="?tag={{ tag }}">{{ tag }}</a>{% endfor %}{% endif %}</li>
    </div>
  </div>

  {% set is_first = False -%}
{% endfor %}

{% endblock %}

