{% extends "site_base.html" %}

{% block page_title %}Dashboard{% endblock %}

{% block site_body %}

{% for link in links %}
{% if not  loop.first %}
<div class="link_splitter"><hr></div>
{% endif %}

<div class="link_container">
  <div class="link_title">
    <a href="{{ link.url }}">{{ link.title }}</a>
  </div>
  <div class="link_bar">
    <li class="link_buttons">[ <a href="" class="button">archive</a> | <a href="" class="button">like</a> | <a href="" class="button">discuss</a> | <a href="" class="button">delete</a> ]</li>
    <li class="link_found"><strong>F</strong>: {{ link.formatted_date }}</li>
    <li class="link_tags"><strong>T</strong>: {% if link.tags %}{% for tag in link.tags %}{% if not loop.first %}, {% endif %}<a href="">{{ tag }}</a>{% endfor %}{% endif %}</li>
  </div>
</div>
{% set is_first = False -%}
{% endfor %}

{% endblock %}

